@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets1/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" />



<link href="~/assets1/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />

<div ng-controller="UserController">
    <partial name="~/Views/Shared/Partials/User/AddUserPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/User/UpdateUserPopup.cshtml" />

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="fa fa-users font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    Menu Management
                </span>
            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="portlet light bordered">




                <div class="portlet-body ">
                    <div class="dd" id="nestable_list_1">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle"> Item 1 </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle"> Item 2 </div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="3">
                                        <div class="dd-handle"> Item 3 </div>
                                    </li>
                                    <li class="dd-item" data-id="4">
                                        <div class="dd-handle"> Item 4 </div>
                                    </li>
                                    <li class="dd-item" data-id="5">
                                        <div class="dd-handle"> Item 5 </div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="6">
                                                <div class="dd-handle"> Item 6 </div>
                                            </li>
                                            <li class="dd-item" data-id="7">
                                                <div class="dd-handle"> Item 7 </div>
                                            </li>
                                            <li class="dd-item" data-id="8">
                                                <div class="dd-handle"> Item 8 </div>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="dd-item" data-id="9">
                                        <div class="dd-handle"> Item 9 </div>
                                    </li>
                                    <li class="dd-item" data-id="10">
                                        <div class="dd-handle"> Item 10 </div>
                                    </li>
                                </ol>
                            </li>
                            <li class="dd-item" data-id="11">
                                <div class="dd-handle"> Item 11 </div>
                            </li>
                            <li class="dd-item" data-id="12">
                                <div class="dd-handle"> Item 12 </div>
                            </li>
                        </ol>
                    </div>
                </div>






            </div>
        </div>
    </div>


</div>


@section PageScript
    {
    <script src="~/assets1/global/plugins/jquery-nestable/jquery.nestable.js"></script>
    <script src="~/assets/pages/scripts/ui-nestable.min.js"></script>

    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/EnumService.js"></script>

    <script src="~/AngularControllers/Services/FixLicService.js"></script>
    <script src="~/AngularControllers/Services/FixtureService.js"></script>
    <script src="~/AngularControllers/Services/LicenseTypeService.js"></script>
    <script src="~/AngularControllers/Services/LicenseService.js"></script>
    <script src="~/AngularControllers/Controllers/UserController.js"></script>

    <script src="~/assets1/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>

}