@using VPS.UI.Models.Tool

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="LicenseController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="icon-settings font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    License
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddLicense"
                       ng-click="NewFloor()">
                        Add License
                    </a>
                </div>

            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col width="600" />
                            <col width="600" />
                            <col width="600" />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data">

                                <td data-title="TableCol.Name" filter="{ Name: 'text'}" sortable="'Name'">
                                    <div class="col-md-9">
                                        <input ng-model="_.Name" style="font-size: 14px;" type="text" class="form-control" value="{{ _.Name }}">
                                    </div>
                                </td>

                                <td data-title="TableCol.Type" filter="{ Type: 'text'}" sortable="'Type'">
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="_.TypeNo">
                                            <option ng-repeat="x in LicenseTypes" value="{{x.Id}}">{{x.Name}}</option>
                                        </select>

                                        @*<input ng-model="_.Type" style="font-size: 14px;" type="text" disabled class="form-control" value="{{ _.TypeNo }}">*@
                                    </div>
                                </td>

                                <td data-title="TableCol.Piece" filter="{ Piece: 'number'}" sortable="'Piece'">
                                    <div class="col-md-9">
                                        <input ng-model="_.Piece" style="font-size: 14px;" type="number" class="form-control" value="{{ _.Piece }}">
                                    </div>
                                </td>





                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" @*data-target="#AddLicenseTypePopup"*@ ng-click="UpdateLicense(_)">
                                                    <i class="fa fa-edit "></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Telefon Güncelle" data-toggle="modal" @*data-target="#floorDeletePopup"*@ ng-click="DeleteLicense(_)">
                                                    <i class="fa fa-phone "></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{RegisterCount}}</span>
                                </td>
                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="~/Views/Shared/Partials/License/AddLicensePopup.cshtml" />

@section PageScript
    {
    <script src="~/AngularControllers/Services/LicenseTypeService.js"></script>
    <script src="~/AngularControllers/Services/LicenseService.js"></script>
    <script src="~/AngularControllers/Controllers/LicenseController.js"></script>
}
@*@section PageScript{
    @if (VpsHelper.IsDebugActive)
    {
        <script src="~/Scripts/Service/TagService.js"></script>
        <script src="~/Scripts/Controller/TagController.js"></script>
    }
    else
    {
        <script src="~/Scripts/Service/ZoneService.js?@VersionChecker.GetDateVersion()"></script>
        <script src="~/Scripts/Controller/TagController.js?@VersionChecker.GetDateVersion()"></script>
    }
}*@