
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

// ToDo gereksizleri sil
<link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />

<link href="~/assets1/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/assets1/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/assets1/global/css/components-md.min.css" rel="stylesheet" />
<link href="~/assets1/lgn/plugins-md.min.css" rel="stylesheet" />

<link href="~/assets1/layout/layout.min.css" rel="stylesheet" />
<link href="~/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" />
<link href="~/assets1/css/custom.min.css" rel="stylesheet" />



<div ng-controller="BillController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="icon-settings font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    Bill
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddBill">
                        Add Bill
                    </a>
                </div>

            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data">

                                <td data-title="TableCol.BillNo" filter="{ BillNo: 'text'}" sortable="'BillNo'">
                                    <input ng-model="_.BillNo" style="font-size: 14px;" type="text" class="form-control" value="{{ _.BillNo }}">
                                </td>

                                <td data-title="TableCol.BillDate" filter="{ BillDate: 'text'}" sortable="'BillDate'">
                                    <input ng-model="_.BillDate" style="font-size: 14px;" type="date" class="form-control" value="{{ _.BillDate }}">
                                </td>

                                <td data-title="TableCol.Comment" style="width:20%;" filter="{ Comment: 'text'}" sortable="'Comment'">
                                    <textarea class="form-control" ng-model="_.Comment" rows="2" value="{{ _.Comment }}"></textarea>
                                </td>

                                <td data-title="TableCol.TypeNo" filter="{ Type: 'number'}" sortable="'Type'">
                                    <select class="form-control" ng-model="_.TypeNo">
                                        <option ng-repeat="x in BillTypes" type="number" value="{{x.Id}}">{{x.Name}}</option>
                                    </select>
                                </td>

                                <td data-title="TableCol.Price" filter="{ Price: 'number'}" sortable="'Price'">
                                    <input ng-model="_.Price" style="font-size: 14px;" type="number" class="form-control" value="{{ _.Price }}">
                                </td>

                                <td data-title="TableCol.Items">
                                    <button class="btn blue">
                                        Items
                                        <i class="fa fa-share"></i>
                                    </button>
                                </td>

                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover" ng-hide="_.Piece<=0" data-toggle="modal" data-target="#AddAssignment">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="SetPiece(_)">
                                                    <i class="fa fa-eject"></i>Assign
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="UpdateBill(_)">
                                                    <i class="fa fa-edit "></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Update" data-toggle="modal" ng-click="DeleteBill(_)">
                                                    <i class="fa fa-trash "></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{RegisterCount}}</span>
                                </td>
                            </tr>

                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/Partials/Bill/AddBillPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Bill/AddAssignmentPartial.cshtml" />
</div>


@section PageScript
    {
    <script src="~/assets1/js/js.cookie.min.js"></script>
    <script src="~/assets1/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets1/js/jquery.blockui.min.js"></script>
    <script src="~/assets1/js/bootstrap-switch.min.js"></script>
    <script src="~/assets1/global/scripts/datatable.js"></script>
    <script src="~/assets1/js/datatables.min.js"></script>
    <script src="~/assets1/js/datatables.bootstrap.js"></script>
    <script src="~/assets1/js/app.min.js"></script>

    <script src="~/ThirdParty/EditTables/AddBillEditTable.js"></script>

    @*<script src="~/assets/pages/scripts/table-datatables-editable.min.js"></script>*@
    <script src="~/assets1/js/demo.min.js"></script>
    <script src="~/assets1/js/quick-sidebar.min.js"></script>
    <script src="~/assets1/js/quick-nav.min.js"></script>






    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/BillTypeService.js"></script>
    <script src="~/AngularControllers/Services/BillService.js"></script>
    <script src="~/AngularControllers/Controllers/AssignmentController.js"></script>
    <script src="~/AngularControllers/Controllers/BillController.js"></script>
}