@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods
@{
    ViewData["Title"] = "Home Page";
}



@{ var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem> cultureList = Html.GetCultures();
}

<form id="selectLanguage" asp-controller="Home"
      asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
      method="post" role="form" style="width: 100%">
    <select class="form-control" name="culture"
            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
</form>

<p>Label : @Html.Translate("LB_WELCOME")</p>




<div ng-controller="HomeController">

    <partial name="~/Views/Shared/Partials/Dashboard/QuadPanelPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/LogPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/ChatPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TasksPartial.cshtml" />
    @*<partial name="~/Views/Shared/Partials/Dashboard/DemandPartial.cshtml" />*@

    <!--Popups-->
    <partial name="~/Views/Shared/Partials/Dashboard/TaskAddPopupPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TaskUpdatePopupPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TaskDetailPopupPartial.cshtml" />

</div>



@section PageScript
    {
    <script src="~/js/SignalR/signalr.min.js"></script>
    <script src="~/AngularControllers/Services/ReportService.js"></script>
    <script src="~/AngularControllers/Services/TonerService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/TaskService.js"></script>
    <script src="~/AngularControllers/Services/MessageService.js"></script>
    <script src="~/AngularControllers/Services/LogService.js"></script>
    <script src="~/AngularControllers/Controllers/HomeController.js"></script>
}
