@{
    ViewData["Title"] = "Home Page";
}

<div ng-controller="HomeController">

    <partial name="~/Views/Shared/Partials/Dashboard/QuadPanelPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/LogPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/ChatPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TasksPartial.cshtml" />
    @*<partial name="~/Views/Shared/Partials/Dashboard/DemandPartial.cshtml" />*@

    <!--Popups-->
    <partial name="~/Views/Shared/Partials/Dashboard/TaskAddPopupPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TaskUpdatePopupPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/Dashboard/TaskDetailPopupPartial.cshtml" />

</div>



@section PageScript
    {
 <script src="~/js/SignalR/signalr.min.js"></script>
    <script src="~/AngularControllers/Services/ReportService.js"></script>
    <script src="~/AngularControllers/Services/TonerService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/TaskService.js"></script>
    <script src="~/AngularControllers/Services/MessageService.js"></script>
    <script src="~/AngularControllers/Services/LogService.js"></script>
    <script src="~/AngularControllers/Controllers/HomeController.js"></script>
}