@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div ng-controller="LicensesController" style=" width:100%; background-color:white">

    <!--Buttons-->
    <div style="background-color:white">
        <a href="javascript:;" data-toggle="modal" data-target="#myModal" class="btn blue" style="float:right; margin-bottom:10px;" ng-click="PopupForm()"> Add License </a>
    </div>

    <!--Table-->
    <div style="{{TableColor}}">
        <table id="example" class="" style="width:100%; ">
            <thead style="color:white">
                <tr style="">
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>27</td>
                    <td>2011/01/25</td>
                    <td>$112,000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<partial name="~/Views/Shared/Partials/Licenses/AddLicensePopup.cshtml" />

@section PageScript
    {
    <script src="~/AngularControllers/Controllers/LicensesController.js"></script>
}