
<div class="col-lg-6 col-xs-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-red-sunglo hide"></i>
                <span class="caption-subject font-dark bold uppercase">Revenue</span>
                <span class="caption-helper">monthly stats...</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        Filter Range
                        <span class="fa fa-angle-down"> </span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                Q1 2014
                                <span class="label label-sm label-default"> past </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Q2 2014
                                <span class="label label-sm label-default"> past </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:;">
                                Q3 2014
                                <span class="label label-sm label-success"> current </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Q4 2014
                                <span class="label label-sm label-warning"> upcoming </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div id="site_activities_loading" style="display: none;">
                <img src="../assets/global/img/loading.gif" alt="loading">
            </div>
            <div id="site_activities_content" class="display-none" style="display: block;">
                <div id="site_activities" style="height: 228px; padding: 0px; position: relative;"> <canvas class="flot-base" width="933" height="285" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 747px; height: 228px;"></canvas><div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px; display: block;"><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 20px; text-align: center;">DEC</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 99px; text-align: center;">JAN</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 176px; text-align: center;">FEB</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 253px; text-align: center;">MAR</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 332px; text-align: center;">APR</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 410px; text-align: center;">MAY</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 489px; text-align: center;">JUN</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 568px; text-align: center;">JUL</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 644px; text-align: center;">AUG</div><div style="position: absolute; max-width: 55px; top: 209px; font: small-caps 400 11px / 18px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 723px; text-align: center;">SEP</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px; display: block;"><div style="position: absolute; top: 197px; font: small-caps 400 11px / 14px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 20px; text-align: right;">0</div><div style="position: absolute; top: 149px; font: small-caps 400 11px / 14px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 8px; text-align: right;">500</div><div style="position: absolute; top: 100px; font: small-caps 400 11px / 14px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 1px; text-align: right;">1000</div><div style="position: absolute; top: 52px; font: small-caps 400 11px / 14px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 1px; text-align: right;">1500</div><div style="position: absolute; top: 3px; font: small-caps 400 11px / 14px &quot;Open Sans&quot;, sans-serif; color: rgb(111, 123, 138); left: 1px; text-align: right;">2000</div></div></div><canvas class="flot-overlay" width="933" height="285" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 747px; height: 228px;"></canvas></div>
            </div>
            <div style="margin: 20px 0 10px 30px">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-success"> Revenue: </span>
                        <h3>$13,234</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-info"> Tax: </span>
                        <h3>$134,900</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-danger"> Shipment: </span>
                        <h3>$1,134</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-warning"> Orders: </span>
                        <h3>235090</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>