<!--Add Popup-->
<div id="AddUsedTonerPopup" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Add Used Toner - {{Pop.Name}}</h4>
            </div>
            <div class="scroller" style="height:300px" data-always-visible="0" data-rail-visible1="1">
                <form name="UsedTonerForm">
                    <div class="modal-body">
                        <div class="col-md-9">
                            <span>Piece</span>
                            <input ng-model="Pop.AssignPiece" style="font-size: 14px;" type="number" class="form-control" min="1" max="9999">
                            <br />
                            <span>Department</span>
                            <select class="form-control" ng-model="Pop.DepartmentId" required>
                                <option ng-repeat="x in Departments" ng-selected="true" ng-value="x.Id">{{x.Name}}</option>
                            </select>
                            <br />
                            <span>Toner</span>
                            <select class="form-control" ng-model="Pop.TonerId" required>
                                <option ng-repeat="x in Toners" ng-selected="true" ng-value="x.Id">{{x.Name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="modal-footer" style="margin-top:50%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-disabled="UsedTonerForm.$invalid" ng-click="AddUsedToner()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
