@using MultiLanguage.ExtensionMethods

<div class="col-lg-6 col-xs-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-hide hide"></i>
                <span class="caption-subject font-hide bold uppercase">@Html.Translate("chat")</span>
            </div>
            @*<div class="actions">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control input-circle" placeholder="search...">
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="portlet-body" id="chats">
            <div class="scroller downScrool" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                <ul class="chats " ng-repeat="x in Messages">
                    <li ng-class="x.UserId != UserId ? 'in' : 'out'">
                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg" />
                        <div class="message">
                            <span class="arrow"> </span>
                            <a href="javascript:;" class="name">{{x.UserName}}</a>
                            <span class="datetime"> at {{x.Time}} </span>
                            <span class="body"> {{x.MessageDetail}} </span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="chat-form">
                <div class="input-cont">
                    <input class="form-control " ng-model="MessageDetail" type="text" placeholder="Type a message here..." />
                </div>
                <div class="btn-cont">
                    <span class="arrow"> </span>
                    <button class="btn blue icn-only" ng-disabled="MessageDetail==''" ng-click="AddMessage()">
                        <!--dashboard.min.js de $(".btn",a) satırı $(".btn123",a) olarak değiştirilmiştir.-->
                        <i class="fa fa-check icon-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>
