<!--Add Popup-->
<div id="AddLicense" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Add a License</h4>
            </div>
            <div class="scroller" style="height:280px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <div class="col-md-9">

                        <div>
                            <span>License Name</span>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control">
                        </div>

                        <div style="margin-top:3%;">
                            <span>License Type</span>
                            <select class="form-control" ng-model="Pop.TypeNo">
                                <option ng-repeat="x in LicenseTypes" ng-selected="true" value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div style="margin-top:3%;">
                            <span>Piece</span>
                            <input ng-model="Pop.Piece" style="font-size: 14px;" type="number" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="margin-top:42%;">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-click="AddLicense()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>