
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DepreciationController">


    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-calculator font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Depreciation</span>
            </div>
        </div>
        <div class="portlet-body">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#tab_2_1" data-toggle="tab"> Normal Depreciation Method @*Fixed Annual Amount Method*@ </a>
                </li>
                <li>
                    <a href="#tab_2_2" data-toggle="tab"> Decreasing Balance Method </a>
                </li>
                <li>
                    <a href="#tab_2_3" data-toggle="tab"> Depreciation By Production Amount Method </a>
                </li>
            </ul>
            <div class="tab-content" style="height:50%">
                <div class="tab-pane fade" id="tab_2_1" hidden>

                    <form name="fixedAnnualAmountForm">

                        <div class="col-md-4">
                            <label>Cost</label>
                            <input type="number" step="0.01" ng-model="cost" />
                        </div>

                        <div class="col-md-4">
                            <label>Recovery Value</label>
                            <input type="number" step="0.01" ng-model="recoveryValue" />
                        </div>

                        <div class="col-md-4">
                            <label>Economic Spine</label>
                            <input type="number" step="1" ng-model="economicSpine" />
                        </div>

                        <button class="btn btn-success" ng-click="calculateFixedAnnualAmount()" ng-disabled="fixedAnnualAmountForm.$invalid">Calculate</button>

                    </form>

                </div>
                <div class="tab-pane fade active in" id="tab_2_1">

                    <form name="normalDepreciationForm">

                        <div class="col-md-4">
                            <label>Cost</label>
                            <input type="number" step="0.01" ng-model="normalDepreciation.Cost" />
                        </div>

                        <div class="col-md-4">
                            <label>Life</label>
                            <input type="number" step="1" ng-model="normalDepreciation.Life" />
                        </div>

                        <button class="btn btn-success" ng-click="calculateNormalDepreciation()" ng-disabled="normalDepreciationForm.$invalid">Calculate</button>

                    </form>

                </div>
                <div class="tab-pane fade" id="tab_2_2">

                    <form name="decreasingBalanceV1Form">

                        <div class="col-md-4">
                            <label>Cost</label>
                            <input type="number" step="0.01" ng-model="decreasingBalanceV1.Cost" />
                        </div>

                        <div class="col-md-4">
                            <label>Econmic Life</label>
                            <input type="number" step="1" ng-model="decreasingBalanceV1.EconmicLife" />
                        </div>

                        <button class="btn btn-success" ng-click="calculateDecreasingBalanceV1()" ng-disabled="decreasingBalanceV1Form.$invalid">Calculate</button>

                    </form>

                </div>
                <div class="tab-pane fade" id="tab_2_2" hidden>

                    <form name="decreasingBalanceForm">

                        <div class="col-md-4">
                            <label>Value Received</label>
                            <input type="number" step="0.01" ng-model="valueReceived" />
                        </div>

                        <div class="col-md-4">
                            <label>Scrap value</label>
                            <input type="number" step="0.01" ng-model="scrapvalue" />
                        </div>

                        <div class="col-md-4">
                            <label>Life</label>
                            <input type="number" step="0.01" ng-model="life" />
                        </div>

                        <div class="col-md-4">
                            <label>Number Of Last Month</label>
                            <input type="number" step="0.01" ng-model="numberOfLastMonth" />
                        </div>

                        <button class="btn btn-success" ng-click="calculateDecreasingBalance()" ng-disabled="decreasingBalanceForm.$invalid">Calculate</button>

                    </form>

                </div>
                <div class="tab-pane fade" id="tab_2_3">

                    <form name="depreciationByProductionAmountForm">

                        <div class="col-md-2">
                            <label>Asset Cost</label>
                            <input type="number" step="0.01" ng-model="assetCost" />
                        </div>

                        <div class="col-md-2">
                            <label>Salvage Value</label>
                            <input type="number" step="0.01" ng-model="salvageValue" />
                        </div>

                        <div class="col-md-2">
                            <label>Production Capacity</label>
                            <input type="number" step="0.01" ng-model="productionCapacity" />
                        </div>

                        <div class="col-md-2">
                            <label>Production Amount</label>
                            <input type="number" step="0.01" ng-model="productionAmount" />
                        </div>

                        <div class="col-md-2">
                            <label>Life Span In Years</label>
                            <input type="number" step="0.01" ng-model="lifeSpanInYears" />
                        </div>

                        <button class="btn btn-success" ng-click="calculateDepreciationByProductionAmount()" ng-disabled="depreciationByProductionAmountForm.$invalid">Calculate</button>

                    </form>

                </div>
            </div>
        </div>
    </div>











</div>


@section PageScript
    {
    <script src="~/AngularControllers/Services/DepreciationService.js"></script>
    <script src="~/AngularControllers/Controllers/DepreciationController.js"></script>
}