@using Microsoft.AspNetCore.Localization
@using MultiLanguage.ExtensionMethods

@{ var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem> cultureList = Html.GetCultures();
}

@*<form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form" style="width: 100%">
        <select class="form-control" name="culture"
                asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
    </form>*@


        <li class="dropdown dropdown-language">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" src="../assets/global/img/flags/us.png">
                <span class="langname"> US </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/es.png"> Spanish
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/de.png"> German
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/ru.png"> Russian
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img alt="" src="../assets/global/img/flags/fr.png"> French
                    </a>
                </li>
            </ul>
        </li>

    @*<p>Label : @Html.Translate("LB_WELCOME")</p>*@
