
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .backRed {
        background-color: #ff7a7a;
    }
</style>

<div ng-controller="TonerController">
    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="icon-settings font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    Toner
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddSituation">
                        Add Toner
                    </a>
                </div>

            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col width="600" />
                            <col width="600" />
                            <col width="600" />
                            <col width="600" />
                            <col width="600" />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data" ng-class="{'backRed':_.Piece<=_.MinStock}">
                                <td data-title="TableCol.Name" filter="{ Name: 'text'}" sortable="'Name'">
                                    <div class="col-md-9">
                                        <input ng-model="_.Name" style="font-size: 14px;" type="text" class="form-control">
                                    </div>
                                </td>

                                <td data-title="TableCol.Piece" filter="{ Piece: 'number'}" sortable="'Piece'">
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <input ng-model="_.Piece" style="font-size: 14px;" type="number" class="form-control">
                                        </div>
                                    </div>
                                </td>

                                <td data-title="TableCol.Boundary" filter="{ Boundary: 'number'}" sortable="'Boundary'">
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-chevron-up"></i>
                                            <input ng-model="_.Boundary" style="font-size: 14px;" type="number" class="form-control">
                                        </div>
                                    </div>
                                </td>

                                <td data-title="TableCol.MinStock" filter="{ MinStock: 'number'}" sortable="'MinStock'">
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-chevron-down"></i>
                                            <input ng-model="_.MinStock" style="font-size: 14px;" type="number" class="form-control">
                                        </div>
                                    </div>
                                </td>

                                <td data-title="TableCol.Price" filter="{ Price: 'number'}" sortable="'Price'">
                                    <div class="col-md-9">
                                        <div class="input-icon">
                                            <i class="fa fa-money"></i>
                                            <input ng-model="_.Price" style="font-size: 14px;" type="number" class="form-control">
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover" ng-show="_.Price>0" data-toggle="modal" data-target="#FixtureAssignmentPopup">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="SetAssign(_)">
                                                    <i class="fa fa-eject"></i>Assign
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="UpdateToner(_)">
                                                    <i class="fa fa-edit "></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Telefon Güncelle" data-toggle="modal" ng-click="DeleteToner(_)">
                                                    <i class="fa fa-phone "></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{RegisterCount}}</span>
                                </td>
                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="~/Views/Shared/Partials/Toner/AddTonerPopup.cshtml" />

@section PageScript
    {
    <script src="~/AngularControllers/Services/TonerService.js"></script>
    <script src="~/AngularControllers/Controllers/TonerController.js"></script>
}
