#ana_div {
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
}

.kare {
    float: left;
    width: 100px;
    height: 100px;
    border: solid;
}
