
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ComponentController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="fa fa-gear font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    Components
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddSituation">
                        Add Component
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data">

                                <td data-title="TableCol.Name" filter="{ Name: 'text'}" sortable="'Name'">
                                    <input ng-model="_.Name" type="text" class="form-control" value="{{ _.Name}}">
                                </td>

                                <td data-title="TableCol.Piece" filter="{ Piece: 'number'}" sortable="'Piece'">
                                    <input ng-model="_.Piece" type="number" class="form-control" value="{{ _.Piece}}">
                                </td>

                                <td data-title="TableCol.Price" filter="{ Price: 'number'}" sortable="'Price'">
                                    <input ng-model="_.Price" type="number" class="form-control" value="{{ _.Price}}">
                                </td>

                                <td data-title="TableCol.BillNo" filter="{ Type: 'number'}" sortable="'BillNo'">
                                    <select class="form-control" ng-model="_.BillNo" disabled>
                                        <option ng-repeat="x in Bills" type="number" ng-value="{{x.Id}}">{{x.BillNo}}</option>
                                    </select>
                                </td>

                                <td data-title="TableCol.ModelNo" filter="{ Type: 'number'}" sortable="'ModelNo'">
                                    <select class="form-control" ng-model="_.ModelNo">
                                        <option ng-repeat="x in Models" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                                    </select>
                                </td>

                                <td data-title="TableCol.CategoryNo" filter="{ Type: 'number'}" sortable="'CategoryNo'">
                                    <select class="form-control" ng-model="_.CategoryNo">
                                        <option ng-repeat="x in Categorys" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                                    </select>
                                </td>

                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover" ng-hide="_.Piece<=0" data-toggle="modal" data-target="#AddAssignment">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="SetPiece(_)">
                                                    <i class="fa fa-eject"></i>Assign
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="UpdateComponent(_)">
                                                    <i class="fa fa-edit "></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Update" data-toggle="modal" ng-click="DeleteComponent(_)">
                                                    <i class="fa fa-trash "></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{RegisterCount}}</span>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <partial name="~/Views/Shared/Partials/Component/AddComponentPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Global/AddAssignmentPartial.cshtml" />
</div>


@section PageScript
    {
    <script src="~/AngularControllers/Services/BillService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/ComponentModelService.js"></script>
    <script src="~/AngularControllers/Services/ComponentService.js"></script>
    <script src="~/AngularControllers/Controllers/AssignmentController.js"></script>
    <script src="~/AngularControllers/Controllers/ComponentController.js"></script>
}

