
<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-repeat="maintem in Menus" ng-if="maintem.Dependency===menuType.Main">

    <li class="heading">
        <h3 class="uppercase">{{maintem.Name}}</h3>
    </li>

    <li class="nav-item" ng-repeat="subMainItem in Menus" ng-if="subMainItem.Dependency === maintem.Id">
        <a href="" ng-click="Nav(subMainItem.Url);" class="nav-link nav-toggle">
            <i ng-class="subMainItem.Icon"></i>
            <span class="title">{{subMainItem.Name}}</span>
            <span class="arrow" ng-hide="subMainItem.Url"></span>
        </a>
        <ul class="sub-menu" ng-hide="subMainItem.Url">
            <li class="nav-item " ng-repeat="subItem in Menus" ng-if="subItem.Dependency === subMainItem.Id">
                <a href="{{subItem.Url}}" class="nav-link">
                    <span class="title">{{subItem.Name}}</span>
                </a>
            </li>
        </ul>
    </li>

</ul>
