<div id="ReportPopup" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 350px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Report - {{Pop.Name}}</h4>
            </div>
            <div class="scroller" style="height:350px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="input-icon">

                            <label>Subject</label>
                            <input ng-model="Pop.reportSubject" style="font-size: 14px;" type="text" class="form-control" placeholder="subject...">

                            <br />

                            <label>Content</label>
                            <textarea ng-model="Pop.reportDetail" rows="6" style="font-size: 16px;" type="text" class="form-control" placeholder="content..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:70%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-click="AddReport()">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>