
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <title>Metronic Admin Theme #4 | 500 Page Option 2</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for 500 page option 2" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />

    <link href="~/assets/global/css/components-md.min.css" rel="stylesheet" />
    <link href="~/assets/global/css/plugins-md.min.css" rel="stylesheet" />

    <link href="~/assets/pages/css/error.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.ico" />

</head>
<body class=" page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-red"> 403 </div>
            <div class=" details">
                <h3>
                    Oops! Access denied.
                </h3>
                <p>
                    You do not have the necessary authorization to access this page.
                    <br />
                </p>
                <p>
                    <a href="/Home/Index" class="btn red btn-outline"> Return home </a>
                    <a class="btn green btn-outline" onclick="exit();"> Exit </a>
                    <br>
                </p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets1/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <script src="~/assets/global/scripts/app.min.js"></script>

    <script>

        function exit() {
            $.ajax({
                url: "/User/RemoveActiveUserSession",
                type: "GET",
                success: function (result) {
                    // işlem başarılı ise burada yapılacak işlemler
                    console.log(result);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // işlem başarısız ise burada yapılacak işlemler
                    console.log("Hata: " + errorThrown);
                }
            });

            location.href = "/User/Login";
        }

        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>
