
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ViewItemController">


    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                @*<div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">
                                Order #12313232
                                <span class="hidden-xs">| Dec 27, 2013 7:16:25 </span>
                            </span>
                        </div>
                    </div>*@
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            <li class="active">
                                <a href="#tab_1" data-toggle="tab"> Details </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet yellow-crusta box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Item Details
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Name: </div>
                                                    <div class="col-md-7 value">
                                                        {{Item.Name}}
                                                        @*<span class="label label-info label-sm"> Email confirmation was sent </span>*@
                                                    </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Inser Date: </div>
                                                    <div class="col-md-7 value"> {{Item.LoginSystem}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Statu: </div>
                                                    <div class="col-md-7 value">
                                                        <span class="label label-success"> Closed </span>
                                                    </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Model: </div>
                                                    <div class="col-md-7 value"> {{Item.Model.Name}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Category: </div>
                                                    <div class="col-md-7 value"> {{Item.Category.Name}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Bill: </div>
                                                    <div class="col-md-7 value"> {{Item.Bill.BillNo}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Asigned User: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.Name}} {{Item.AsignedUser.Surname}} ({{Item.AsignedUser.UserName}})</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet blue-hoki box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Customer Information
                                                </div>
                                                <div class="actions">
                                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Customer Name: </div>
                                                    <div class="col-md-7 value"> Jhon Doe </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Email: </div>
                                                    <div class="col-md-7 value"> jhon@doe.com </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> State: </div>
                                                    <div class="col-md-7 value"> New York </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Phone Number: </div>
                                                    <div class="col-md-7 value"> 12234389 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet green-meadow box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Billing Address
                                                </div>
                                                <div class="actions">
                                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-12 value">
                                                        Jhon Done
                                                        <br> #24 Park Avenue Str
                                                        <br> New York
                                                        <br> Connecticut, 23456 New York
                                                        <br> United States
                                                        <br> T: 123123232
                                                        <br> F: 231231232
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet red-sunglo box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Shipping Address
                                                </div>
                                                <div class="actions">
                                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-12 value">
                                                        Jhon Done
                                                        <br> #24 Park Avenue Str
                                                        <br> New York
                                                        <br> Connecticut, 23456 New York
                                                        <br> United States
                                                        <br> T: 123123232
                                                        <br> F: 231231232
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet grey-cascade box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Shopping Cart
                                                </div>
                                                <div class="actions">
                                                    <a href="javascript:;" class="btn btn-default btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th> Product </th>
                                                                <th> Item Status </th>
                                                                <th> Original Price </th>
                                                                <th> Price </th>
                                                                <th> Quantity </th>
                                                                <th> Tax Amount </th>
                                                                <th> Tax Percent </th>
                                                                <th> Discount Amount </th>
                                                                <th> Total </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;"> Product 1 </a>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Available
                                                                </td>
                                                                <td> 345.50$ </td>
                                                                <td> 345.50$ </td>
                                                                <td> 2 </td>
                                                                <td> 2.00$ </td>
                                                                <td> 4% </td>
                                                                <td> 0.00$ </td>
                                                                <td> 691.00$ </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;"> Product 1 </a>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Available
                                                                </td>
                                                                <td> 345.50$ </td>
                                                                <td> 345.50$ </td>
                                                                <td> 2 </td>
                                                                <td> 2.00$ </td>
                                                                <td> 4% </td>
                                                                <td> 0.00$ </td>
                                                                <td> 691.00$ </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;"> Product 1 </a>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Available
                                                                </td>
                                                                <td> 345.50$ </td>
                                                                <td> 345.50$ </td>
                                                                <td> 2 </td>
                                                                <td> 2.00$ </td>
                                                                <td> 4% </td>
                                                                <td> 0.00$ </td>
                                                                <td> 691.00$ </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:;"> Product 1 </a>
                                                                </td>
                                                                <td>
                                                                    <span class="label label-sm label-success"> Available
                                                                </td>
                                                                <td> 345.50$ </td>
                                                                <td> 345.50$ </td>
                                                                <td> 2 </td>
                                                                <td> 2.00$ </td>
                                                                <td> 4% </td>
                                                                <td> 0.00$ </td>
                                                                <td> 691.00$ </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>


</div>



@section PageScript
    {
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/FixtureService.js"></script>
    <script src="~/AngularControllers/Controllers/ViewItemController.js"></script>
}