
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ViewItemController">


    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                @*<div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">
                                Order #12313232
                                <span class="hidden-xs">| Dec 27, 2013 7:16:25 </span>
                            </span>
                        </div>
                    </div>*@
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            <li class="active">
                                <a href="#tab_1" data-toggle="tab"> Details </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet yellow-crusta box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Item Details
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Name: </div>
                                                    <div class="col-md-7 value">
                                                        {{Item.Name}}
                                                        @*<span class="label label-info label-sm"> Email confirmation was sent </span>*@
                                                    </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Inser Date: </div>
                                                    <div class="col-md-7 value"> {{Item.LoginSystem}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Statu: </div>
                                                    <div class="col-md-7 value">
                                                        <span class="label label-success"> {{Item.ItemStatu.Text}} </span>
                                                    </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Model: </div>
                                                    <div class="col-md-7 value"> {{Item.Model.Name}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Category: </div>
                                                    <div class="col-md-7 value"> {{Item.Category.Name}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Bill: </div>
                                                    <div class="col-md-7 value"> {{Item.Bill.BillNo}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Asigned User: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.Name}} {{Item.AsignedUser.Surname}} ({{Item.AsignedUser.UserName}})</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" ng-if="Item.AsignedUser!==null">
                                        <div class="portlet blue-hoki box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>User Information
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Name: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.Name}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Surname: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.Surname}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Username: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.UserName}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Title: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.Title}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Mail Adress: </div>
                                                    <div class="col-md-7 value"> {{Item.AsignedUser.MailAdress}} </div>
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                                <div class="row static-info">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet grey-cascade box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Item History
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-bordered table-striped" ng-table="TableParams">
                                                        <thead>
                                                            <tr>
                                                                <th> ProcessTypeTextValue </th>
                                                                <th> TransactionUser </th>
                                                                <th> CommittedUser </th>
                                                                <th> Date </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="_ in $data">
                                                                <td>
                                                                    <span>{{_.ProcessTypeTextValue.Text}}</span>
                                                                </td>
                                                                <td>
                                                                    <span ng-if="_.TransactionUser">{{_.TransactionUser.Name}} {{_.TransactionUser.Surname}} ({{_.TransactionUser.UserName}}) </span>
                                                                </td>
                                                                <td>
                                                                    <span ng-if="_.CommittedUser">{{_.CommittedUser.Name}} {{_.CommittedUser.Surname}} ({{_.CommittedUser.UserName}})</span>
                                                                </td>
                                                                <td>
                                                                    <span>{{_.InsertDate}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>


</div>



@section PageScript
    {
    <script src="~/AngularControllers/Services/ItemHistoryService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/FixtureService.js"></script>
    <script src="~/AngularControllers/Controllers/ViewItemController.js"></script>
}