@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DepozitFormPageController">
    <div class="invoice">
        <div class="row invoice-logo">
            <div class="col-xs-6 invoice-logo-space">
                <img src="~/Images/walmart.png" class="img-responsive" alt="" />
            </div>

            <div class="col-xs-6">
                <h5 class="muted Bold">Asset Deposit Form</h5>

                <span class="pull-right">
                    {{todayDate}}
                </span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 invoice-payment">
                <h4>I certify that the above-mentioned assets have been received in good order and are the property of the company. I understand that it is my responsibility to ensure that the assets are used for official business only and are returned to the company in the same condition as they were received. I also understand that any loss or damage to the assets due to my negligence or misuse will be my responsibility and that appropriate action may be taken against me.</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Item </th>
                            <th class="hidden-xs"> Description </th>
                            <th class="hidden-xs"> Quantity </th>
                            <th class="hidden-xs"> Unit Cost </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Hardware </td>
                            <td class="hidden-xs"> Server hardware purchase </td>
                            <td class="hidden-xs"> 32 </td>
                            <td class="hidden-xs"> $75 </td>
                            <td> $2152 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Furniture </td>
                            <td class="hidden-xs"> Office furniture purchase </td>
                            <td class="hidden-xs"> 15 </td>
                            <td class="hidden-xs"> $169 </td>
                            <td> $4169 </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td> Foods </td>
                            <td class="hidden-xs"> Company Anual Dinner Catering </td>
                            <td class="hidden-xs"> 69 </td>
                            <td class="hidden-xs"> $49 </td>
                            <td> $1260 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 invoice-block">
                <br />
                <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                    Print
                    <i class="fa fa-print"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section PageScript
    {
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryModelService.js"></script>
    <script src="~/AngularControllers/Services/EnumService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Controllers/Profile/DepozitFormPageController.js"></script>
}


@*Bu formda belirtilen demirbaşların, görevi gereği kullanılması veya kullanılmasına ihtiyaç duyulması durumunda, zimmetli kişilerin sorumluluğunda ve kullanımına mahsus olarak kullanılacağı kabul edilir. Zimmetli kişiler, söz konusu demirbaşların kaybolması, hasar görmesi, kullanımının dışında başka amaçlarla kullanılması veya herhangi bir şekilde zarar görmesi durumunda sorumluluğu üstlenir ve gerekli tazminatı ödemeyi kabul eder. Bu beyanname, demirbaşların kullanımı için gerekli olan bilgilerin doğru ve eksiksiz olarak sağlandığını göstermektedir.*@


@*I certify that the above-mentioned assets have been received in good order and are the property of the company. I understand that it is my responsibility to ensure that the assets are used for official business only and are returned to the company in the same condition as they were received. I also understand that any loss or damage to the assets due to my negligence or misuse will be my responsibility and that appropriate action may be taken against me.*@

