<link href="~/assets/pages/css/profile.min.css" rel="stylesheet" />
<div class="row" ng-controller="ProfileController">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic" style="width:100%; height:20%;">
                    <img style="width: 80%; height: 100%;" src="{{User.ImageUrl}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{User.Name}}&nbsp;&nbsp;{{User.Surname}} </div>
                    <div class="profile-usertitle-job"> {{User.Title}} || {{User.Department}}</div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                @*<div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle red btn-sm">Message</button>
                </div>*@

                <br />

                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                @*<div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-home"></i> Overview
                                </a>
                            </li>
                            <li class="active">
                                <a href="page_user_profile_1_account.html">
                                    <i class="icon-settings"></i> Account Settings
                                </a>
                            </li>
                            <li>
                                <a href="page_user_profile_1_help.html">
                                    <i class="icon-info"></i> Help
                                </a>
                            </li>
                        </ul>
                    </div>*@
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light bordered">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 37 </div>
                        <div class="uppercase profile-stat-text"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{TaskLength}} </div>
                        <div class="uppercase profile-stat-text"> Tasks </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 61 </div>
                        <div class="uppercase profile-stat-text"> Uploads </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">About&nbsp;&nbsp;{{User.Name}}&nbsp;&nbsp;{{User.Surname}}</h4>
                    <span class="profile-desc-text"> {{User.About}} </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-linkedin-square"></i>
                        <a target="_blank" href="https://www.{{User.Linkedin}}">Linkedin</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a target="_blank" href="https://www.{{User.Twitter}}">Twitter</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a target="_blank" href="https://www.{{User.Facebook}}">Facebook</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Personal Info</a>
                                </li>
                                <li class="">
                                    <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">Assignments</a>
                                </li>
                                <li class="">
                                    <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Change Password</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="#">

                                        <div class="form-group">
                                            <label class="control-label">Linkedin Adress</label>
                                            <input type="text" placeholder="mywebsite.com" class="form-control" ng-model="Linkedin">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Twitter Adress</label>
                                            <input type="text" placeholder="mywebsite.com" class="form-control" ng-model="Twitter">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Facebook Adress</label>
                                            <input type="text" placeholder="mywebsite.com" class="form-control" ng-model="Facebook">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">About</label>
                                            <textarea class="form-control" rows="3" placeholder="About Yourself" ng-model="About"></textarea>
                                        </div>
                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green" ng-click="UpdateProfileConfirm()"> Save Changes </a>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">

                                    <div ng-show="AccessoryData.length==0">
                                        <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
                                    </div>

                                    <!--Table Body-->
                                    <div class="portlet-body">
                                        <div class="table-scrollable table-scrollable-borderless" ng-show="AccessoryData.length>0">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-light" ng-table="AccessoryTable" style="margin-bottom: 50px !important;">

                                                    <colgroup>
                                                        <col />
                                                        <col />
                                                        <col />
                                                        <col />
                                                        <col />
                                                        <col />
                                                        <col />
                                                        <col />
                                                    </colgroup>

                                                    <tbody>
                                                        <tr ng-repeat="_ in $data" ng-class="CheckRecallDate(_.RecallDate) && _.IsRecall==true ? 'bg-warning':''" filter="{ BillNo: 'text'}">

                                                            <td data-title="TableCol.Name" filter="{ Name: 'text'}" sortable="'Name'">
                                                                <div class="input-icon">
                                                                    <span>{{_.Accessories.Name}}</span>
                                                                </div>
                                                            </td>

                                                            <td data-title="TableCol.ItemType" filter="{ ItemType: 'select'}" sortable="'ItemType'" filter-data="ItemTypesFilter">
                                                                <select class="form-control" ng-model="_.TypeItem" ng-options="item.Text for item in ItemTypes" disabled></select>
                                                            </td>

                                                            <td data-title="TableCol.Piece" filter="{ Piece: 'text'}" sortable="'Piece'">
                                                                <div class="input-icon">
                                                                    <span>{{_.Piece}}</span>
                                                                </div>
                                                            </td>

                                                            <td data-title="TableCol.BillNo" filter="{ BillNo: 'text'}" sortable="'BillNo'">
                                                                <div class="input-icon">
                                                                    <span>{{_.Accessories.BillNo}}</span>
                                                                </div>
                                                            </td>

                                                            <td data-title="TableCol.Recall" sortable="'BillNo'">
                                                                <div class="input-icon" ng-show="_.IsRecall==true">
                                                                    <span>{{_.RecallDate}}</span>
                                                                </div>
                                                            </td>

                                                            <td data-title="TableCol.ModelNo" filter="{ ModelNo: 'number'}" sortable="'ModelNo'">
                                                                <span>{{GetAccessoryModels(_.Accessories.ModelNo)}} {{AccessoryModelreturn}}</span>
                                                            </td>

                                                            <td data-title="TableCol.CategoryNo" filter="{ CategoryNo: 'number'}" sortable="'CategoryNo'">
                                                                <span>{{GetCategoryNo(_.Accessories.CategoryNo)}} {{CategoryNoreturn}}</span>
                                                            </td>

                                                            <td>
                                                                <div class="actions">
                                                                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                                        <a class="btn btn-warning addnewuserbtn" data-toggle="modal" data-target="#ReportPopup"
                                                                           ng-click="OpenReport(_)" ng-show="_.Report==false">
                                                                            Report
                                                                        </a>
                                                                        <a class="btn btn-danger addnewuserbtn disabled" data-toggle="modal" data-target="#ReportPopup"
                                                                           ng-show="_.Report==true">
                                                                            Reported
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6" class="no-margin no-padding">
                                                                <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{AccessoryData.length}}</span>
                                                            </td>
                                                        </tr>

                                                    </tfoot>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form name="passwordForm">
                                        <div class="form-group">
                                            <label class="control-label">Current Password</label>
                                            <input type="text" ng-model="OldPassword" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">New Password</label>
                                            <input type="text" ng-model="Password" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Try New Password</label>
                                            <input type="text" ng-model="PasswordTry" class="form-control" required>
                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" ng-click="ChangePasswordConfirm()" class="btn green" ng-disabled="passwordForm.$invalid"> Change Password </a>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>

    <partial name="~/Views/Shared/Partials/Report/ReportPopupPartial.cshtml" />
</div>

@section PageScript
    {
    <script src="~/AngularControllers/Services/EnumService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/ReportService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryModelService.js"></script>
    <script src="~/AngularControllers/Services/TaskService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/ProfileService.js"></script>
    <script src="~/AngularControllers/Controllers/ProfileController.js"></script>
    <script src="~/assets/pages/scripts/profile.min.js"></script>
}
