
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="AccessoryController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="icon-settings font-dark-gray" style="color:#678098"></i>
                <span class="caption-subject bold uppercase">
                    Accessories
                </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddSituation">
                        Add Accessory
                    </a>
                </div>

            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data">

                                <td data-title="TableCol.Name" filter="{ Name: 'text'}" sortable="'Name'">
                                    <div class="input-icon">
                                        <input ng-model="_.Name" type="text" class="form-control">
                                    </div>
                                </td>

                                <td data-title="TableCol.Piece" filter="{ Piece: 'text'}" sortable="'Piece'">
                                    <div class="input-icon">
                                        <input ng-model="_.Piece" type="number" class="form-control">
                                    </div>
                                </td>

                                <td data-title="TableCol.BillNo" filter="{ BillNo: 'text'}" sortable="'BillNo'">
                                    <div class="input-icon">
                                        <input ng-model="_.BillNo" type="number" class="form-control">
                                    </div>
                                </td>

                                <td data-title="TableCol.ModelNo" filter="{ ModelNo: 'number'}" sortable="'ModelNo'">
                                    <select class="form-control" ng-model="_.ModelNo">
                                        <option ng-repeat="x in AccessoryModels" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                                    </select>
                                </td>

                                <td data-title="TableCol.CategoryNo" filter="{ CategoryNo: 'number'}" sortable="'CategoryNo'">
                                    <select class="form-control" ng-model="_.CategoryNo">
                                        <option ng-repeat="x in  Categories" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                                    </select>
                                </td>

                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="UpdateAccessory(_)">
                                                    <i class="fa fa-edit "></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Telefon Güncelle" data-toggle="modal" ng-click="DeleteAccessory(_)">
                                                    <i class="fa fa-phone "></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{RegisterCount}}</span>
                                </td>
                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="~/Views/Shared/Partials/Accessory/AddAccessoryPopup.cshtml" />

@section PageScript
    {
    <script src="~/AngularControllers/Services/AccessoryModelService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryService.js"></script>
    <script src="~/AngularControllers/Controllers/AccessoryController.js"></script>
}