
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .backRed {
        background-color: #ff7a7a;
    }
</style>


<link href="~/css/GeneralCss/ToggleCheckboxButton.css" rel="stylesheet" />



<div ng-controller="TaskController">

    <!--Header-->
    <div class="portlet light portlet-fit bordered col-md-12">
        <div class="portlet-title">
            <div class="caption font-dark-gray" style="color:#678098">
                <i class="icon-settings font-dark-gray" style="color:#678098"></i>



                <span class="caption-subject bold uppercase">
                    Taks
                </span>


            </div>
            <div class="actions">
                <div class="material-switch">
                    Active &nbsp;
                    <input id="{{4000}}" name="someSwitchOption001" type="checkbox" ng-checked="CheckActive" ng-model="CheckActive" ng-change="ChangeCheck();" />
                    <label for="{{4000}}" class="label-success" style=""></label> &nbsp;&nbsp;&nbsp;
                    Closed &nbsp;
                    <input id="{{3000}}" name="someSwitchOption001" type="checkbox" ng-checked="CheckClosed" ng-model="CheckClosed" ng-change="ChangeCheck();" />
                    <label for="{{3000}}" class="label-danger"></label>&nbsp;&nbsp;&nbsp;
                    Solved &nbsp;
                    <input id="{{2000}}" name="someSwitchOption001" type="checkbox" ng-checked="CheckSolved" ng-model="CheckSolved" ng-change="ChangeCheck();" />
                    <label for="{{2000}}" class="label-primary"></label>&nbsp;&nbsp;&nbsp;
                    UnSolved &nbsp;
                    <input id="{{1000}}" name="someSwitchOption001" type="checkbox" ng-checked="CheckUnSolved" ng-model="CheckUnSolved" ng-change="ChangeCheck();" />
                    <label for="{{1000}}" class="label-warning"></label>
                    &nbsp;&nbsp;&nbsp;
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <a class="btn blue addnewuserbtn" data-toggle="modal" data-target="#AddTaskPopup">
                            Add Task
                        </a>
                    </div>

                </div>


            </div>
        </div>

        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">Listelenecek Kayit Bulunamadi</h3>
        </div>

        <!--Table Body-->
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" ng-show="RegisterCount>0">
                <div class="table-responsive">
                    <table class="table table-hover table-light" ng-table="TableParams" style="margin-bottom: 50px !important;">

                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>

                        <tbody>
                            <tr ng-repeat="_ in $data" ng-class="{'backRed':_.EndDate<=Today}">

                                <td data-title="TableCol.TaskDetail" filter="{ TaskDetail: 'text'}" sortable="'TaskDetail'">
                                    <textarea ng-model="_.TaskDetail" rows="3" type="text" class="form-control"></textarea>
                                </td>

                                <td data-title="TableCol.StartDate" filter="{ StartDate: 'text'}" sortable="'StartDate'">
                                    <input ng-model="_.StartDate" style="font-size: 14px;" type="date" class="form-control">
                                </td>

                                <td data-title="TableCol.EndDate" filter="{ EndDate: 'text'}" sortable="'EndDate'">
                                    <input ng-model="_.EndDate" style="font-size: 14px;" type="date" class="form-control">
                                </td>

                                <td data-title="TableCol.Count" filter="{ ModelNo: 'number'}" sortable="'ModelNo'">
                                    <select class="form-control" ng-model="_.Count">
                                        <option ng-repeat="x in ImportanceLevels" type="number" ng-value="{{x.Value}}">{{x.Text}}</option>
                                    </select>
                                </td>

                                <td data-title="TableCol.IsActive" filter="{ BillNo: 'text'}" sortable="'BillNo'">
                                    <span class="label label-sm label-success" ng-if="_.IsActive===1">Active</span>
                                    <span class="label label-sm label-danger" ng-if="_.IsActive===2">Closed</span>
                                    <span class="label label-sm label-primary" ng-if="_.IsActive===4">Solved</span>
                                    <span class="label label-sm label-warning" ng-if="_.IsActive===8">UnSolved</span>
                                </td>


                                <td>
                                    <div class="btn-group absoluteitem">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="ms-hover" ng-if="_.IsActive===0">
                                                <a class="viewuserbtn" data-toggle="modal" data-target="#AddTaskStatuPopup" ng-click="OpenTaskStatuPopup(_)">
                                                    <i class="fa fa-close"></i>Close
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="viewuserbtn" data-toggle="modal" ng-click="UpdateTask(_)">
                                                    <i class="fa fa-edit"></i>Update
                                                </a>
                                            </li>
                                            <li class="ms-hover">
                                                <a class="addphone" title="Update" data-toggle="modal" ng-click="DeleteTask(_)">
                                                    <i class="fa fa-trash"></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="6" class="no-margin no-padding">
                                    <span class="label label-primary" style="margin-left: -20px; font-size: 11px;">
                                        Toplam Kayit Sayisi: {{RegisterCount}}
                                    </span>
                                </td>
                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/Partials/Task/AddTaskPopup.cshtml" />
    <partial name="~/Views/Shared/Partials/Task/AddTaskStatuPopup.cshtml" />
</div>

@section PageScript
    {
    <script src="~/AngularControllers/Services/TaskService.js"></script>
    <script src="~/AngularControllers/Services/EnumService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/FixtureService.js"></script>
    <script src="~/AngularControllers/Services/FixtureModelService.js"></script>
    <script src="~/AngularControllers/Services/BillService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Controllers/TaskController.js"></script>
}