
<style>
    .disabled_node {
        color: #ddd;
    }
</style>


<ul ng-repeat="menu in Menus">

    <li data-menuValue="1" data-name="1">
        1






    </li>

</ul>


<script>
    $(".target").hide();
</script>
