
<div id="UpdateUser" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Update User</h4>

                <div class="md-checkbox-list pull-right">
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox2_1" class="md-check" ng-model="Pop.Lock">
                        <label for="checkbox2_1">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> Lock
                        </label>
                    </div>
                </div>
            </div>
            <div class="scroller" style="height:650px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form name="UpdateUserForm" class="col-md-12">

                        <div class="form-group col-md-12">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                    <img style="height: 100%;" ng-show="Pop.ImageUrl ==''" src="~/assets/layouts/layout/img/avatar.png" width="150" height="150" alt="" />
                                    <img style="height: 100%;" ng-show="Pop.ImageUrl !=''" ng-src="Pop.ImageUrl;" width="150" height="150" alt="" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new">   Resim seç </span>
                                        <span class="fileinput-exists"> Değiştir </span>
                                        <input type="file" name="" ng-model="Pop.ImageUrl" id="PopImagePath" class="ImagePath" onchange="angular.element(this).scope().fileNameChanged(this)">
                                    </span>
                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput" ng-model="Pop.ImagePath"> Sil </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.Name.$invalid && !UpdateUserForm.Name.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Name</label>
                            <div class="col-md-9">
                                <input type="text" name="Name" class="form-control" ng-model="Pop.Name" placeholder="john" required>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-right" ng-class="{ 'has-error' : UpdateUserForm.Surname.$invalid && !UpdateUserForm.Surname.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Surname</label>
                            <div class="col-md-9">
                                <input type="text" name="Surname" class="form-control" ng-model="Pop.Surname" placeholder="doe" required>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.UserName.$invalid && !UpdateUserForm.UserName.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Username</label>
                            <div class="col-md-9">
                                <input type="text" name="Username" class="form-control" ng-model="Pop.UserName" placeholder="johndoe" required>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.MailAdress.$invalid && !UpdateUserForm.Username.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">MailAdress</label>
                            <div class="col-md-9">
                                <input type="text" name="MailAdress" class="form-control" ng-model="Pop.MailAdress" placeholder="johndoe" required>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.Title.$invalid && !UpdateUserForm.Username.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Title</label>
                            <div class="col-md-9">
                                <input type="text" name="Title" class="form-control" ng-model="Pop.Title" placeholder="johndoe" required>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.Department.$invalid && !UpdateUserForm.Username.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Department</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-model="Pop.Department">
                                    <option ng-repeat="x in Departments" type="number" ng-value="{{x.Value}}">{{x.Text}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success col-md-6 pull-left" ng-class="{ 'has-error' : UpdateUserForm.Telephone.$invalid && !UpdateUserForm.Username.$pristine}">
                            <label class="col-md-3 control-label" for="form_control_1">Telephone</label>
                            <div class="col-md-9">
                                <input type="text" name="Telephone" class="form-control" ng-model="Pop.Telephone" placeholder="johndoe" required>
                            </div>
                        </div>

                        <div class="form-group form-md-radios has-success col-md-6 pull-right">
                            <label for="form_control_1">Gender</label>
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_8" name="radio2" class="md-radiobtn" ng-model="Pop.Gender" ng-checked="Pop.Gender">
                                    <label for="checkbox2_8">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Women
                                    </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="checkbox2_9" name="radio2" class="md-radiobtn" ng-checked="Pop.Gender">
                                    <label for="checkbox2_9">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Man
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-disabled="UpdateUserForm.$invalid" ng-click="UpdateUser()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
