@using MultiLanguage.ExtensionMethods

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ReportController">

    <div class="portlet light portlet-fit bordered col-md-12" ng-hide="Reports.length>0">
        <div ng-show="RegisterCount==0">
            <h3 style="text-align: center;color:#678098">@Html.Translate("recordNotFoundforListing")</h3>
        </div>
    </div>

    <div ng-repeat="_ in Reports">
        <div class="col-md-4">

            @*<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered" style="height:200px;">
                    <div>
                        <span class="widget-thumb-heading">{{_.User.Name}}&nbsp;{{_.User.Surname}}</span>
                        <span class="widget-thumb-heading pull-right">{{_.InsertDate}}</span>
                    </div>
                    <br />
                    <br />
                    <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon bg-green fa fa-hourglass-2" ng-if="!_.DiffDate"></i>
                        <i class="widget-thumb-icon bg-red fa fa-hourglass-3" ng-if="_.DiffDate"></i>
                        <div class="widget-thumb-body">
                            <span class="widget-thumb-subtitle">
                                {{_.ReportSubject}}
                            </span>
                            <span>{{_.ReportDetail}}</span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <br />
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Conclude" ng-click="OpenPopup(_);" title="Conclude">Conclude</button>

                        <a href="" class="btn btn-icon-only btn-primary" title="Open Item">
                            <i class="fa fa-share-square-o" ng-click="viewItem(_.ItemId);"></i>
                        </a>
                    </div>
                </div>*@

            <div class="mt-element-ribbon bg-grey-steel" style="background: #ffffff !important;">
                <a class="ribbon ribbon-right ribbon-vertical-right ribbon-shadow ribbon-border-dash-vert ribbon-color-primary uppercase" ng-click="viewItem(_.ItemId);">
                    <div class="ribbon-sub ribbon-bookmark"></div>
                    <i class="fa fa-share-square-o"></i>
                </a>
                <a class="ribbon ribbon-right ribbon-vertical-right ribbon-shadow ribbon-border-dash-vert ribbon-color-default uppercase" data-toggle="modal" data-target="#Conclude" ng-click="OpenPopup(_);">
                    <div class="ribbon-sub ribbon-bookmark"></div>
                    <i class="fa fa-check"></i>
                </a>
                <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger ribbon-border-dash-hor uppercase">
                    <div class="ribbon-sub ribbon-clip"></div> {{_.User.Name}} {{_.User.Surname}}
                </div>
                <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
                    <div class="ribbon-sub ribbon-clip"></div> {{_.InsertDate}}
                </div>
                <p class="ribbon-content">
                    <span class="widget-thumb-subtitle bold" style="color: #8e9daa;">
                        {{_.ReportSubject}}
                    </span>
                    <span>{{_.ReportDetail}}</span>
                </p>
            </div>

        </div>
    </div>

    <partial name="~/Views/Shared/Partials/Report/ConcludePopup.cshtml" />
</div>


@section PageScript
    {
    <script src="~/AngularControllers/Services/UserService.js"></script>
    <script src="~/AngularControllers/Services/AssignmentService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryService.js"></script>
    <script src="~/AngularControllers/Services/CategoryService.js"></script>
    <script src="~/AngularControllers/Services/AccessoryModelService.js"></script>

    <script src="~/AngularControllers/Services/EnumService.js"></script>

    <script src="~/AngularControllers/Services/ReportService.js"></script>
    <script src="~/AngularControllers/Controllers/ReportController.js"></script>
}
