@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ReportController">

    <div ng-repeat="_ in Reports">
        <div class="col-md-4">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered" style="height:200px;">
                <div>
                    <span class="widget-thumb-heading">{{_.User.Name}}&nbsp;{{_.User.Surname}}</span>
                    <span class="widget-thumb-heading pull-right">{{_.InsertDate}}</span>
                </div>
                <br />
                <br />
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-green icon-bulb" ng-if="!_.DiffDate"></i>
                    <i class="widget-thumb-icon bg-red icon-bulb" ng-if="_.DiffDate"></i>
                    <div class="widget-thumb-body">
                        <span class="widget-thumb-subtitle">
                            {{_.ReportSubject}}
                        </span>
                        <span>{{_.ReportDetail}}</span>
                    </div>
                </div>
                <div class="pull-right">
                    <br />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Conclude" ng-click="OpenPopup(_);">Conclude</button>
                </div>
            </div>
            <!-- END WIDGET THUMB -->
        </div>
    </div>

    <partial name="~/Views/Shared/Partials/Report/ConcludePopup.cshtml" />
</div>


@section PageScript
    {
<script src="~/AngularControllers/Services/UserService.js"></script>
<script src="~/AngularControllers/Services/AssignmentService.js"></script>
<script src="~/AngularControllers/Services/AccessoryService.js"></script>
<script src="~/AngularControllers/Services/CategoryService.js"></script>
<script src="~/AngularControllers/Services/AccessoryModelService.js"></script>

<script src="~/AngularControllers/Services/EnumService.js"></script>

<script src="~/AngularControllers/Services/ReportService.js"></script>
<script src="~/AngularControllers/Controllers/ReportController.js"></script>
}