<!--Add Popup-->
<div id="AddFixturePopup" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Add Fixture</h4>
            </div>
            <div class="scroller" style="height: 410px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form>
                        <div class="col-md-9">
                            <span>Name</span>
                                <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control">
                        </div>

                        <div class="col-md-9">
                            <span>Model</span>
                            <select class="form-control" ng-model="Pop.ModelNo">
                                <option ng-repeat="x in FixtureModels" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-9">
                            <span>Bill</span>
                            <select class="form-control" ng-model="Pop.BillNo">
                                <option ng-repeat="x in Bills" type="number" ng-value="{{x.Id}}">{{x.BillNo}}</option>
                            </select>
                        </div>

                        <div class="col-md-9">
                            <span>Statu</span>
                            <select class="form-control" ng-model="Pop.StatuNo">
                                <option ng-repeat="x in ItemStatus" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-9" ng-show="Pop.StatuNo==3">
                            <span>User</span>
                            <select class="form-control" ng-model="Pop.UserNo">
                                <option ng-repeat="x in Users" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-9">
                            <span>Category</span>
                            <select class="form-control" ng-model="Pop.CategoryNo">
                                <option ng-repeat="x in  Categories" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top:68%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-click="AddFixture()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>