<!--Add Popup-->
<div id="AddBill" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%; z-index: 10052 !important;">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-map font-red"></i>
                            <span class="caption-subject font-red sbold uppercase">Add Bill Item</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent red btn-outline btn-circle btn-sm active" data-dismiss="modal">
                                    <input type="radio" name="options" class="toggle" id="option1">Cancel
                                </label>
                                <label class="btn btn-transparent blue btn-outline btn-circle btn-sm" ng-click="tester()">
                                    <input type="radio" name="options" class="toggle" id="option2">Save
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                                Export Bill Items
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;"> Print </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Save as PDF </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Export to Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                            <thead>
                                <tr>

                                    <th> Name </th>
                                    <th> Piece </th>
                                    <th> Price </th>
                                    <th> Product Type </th>
                                    <th> Model </th>
                                    <th> Category </th>
                                    <th> Edit </th>
                                    <th> Delete </th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>







    </div>
</div>
