<!--Add Popup-->
<div id="AddSituation" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Add Bill</h4>
            </div>
            <div class="scroller" style="height:370px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <div class="col-md-9">
                        <span>Name</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control">
                        </div>
                        <br />
                        <span>Piece</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.Piece" style="font-size: 14px;" type="number" class="form-control">
                        </div>
                        <br />
                        <span>Boundary</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.Boundary" style="font-size: 14px;" type="number" class="form-control">
                        </div>
                        <br />
                        <span>Price</span>
                        <div class="input-icon">
                            <i class="fa fa-bell-o"></i>
                            <input ng-model="Pop.Price" style="font-size: 14px;" type="number" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="margin-top:70%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-click="AddBill()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>