<!--Add Popup-->
<div id="AddBill" class="fade">
    <div class="modal-dialog" style="z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="caption">
                    <i class="fa fa-map font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Add Bill Item</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided pull-right" data-toggle="buttons">
                        <label class="btn btn-transparent red btn-outline btn-circle btn-sm active" data-dismiss="modal">
                            <input type="radio" name="options" class="toggle" id="option1">Cancel
                        </label>

                        <button class="btn btn-transparent blue btn-outline btn-circle btn-sm" ng-click="AddBill();" ng-disabled="AddedData.length<=0">Save</button>
                    </div>
                </div>
            </div>
            <div class="scroller" style="height:330px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body nomargin">
                    <form class="form-horizontal" name="LcdMessageForm">
                        <div class="form-body">






















                        </div>
                    </form>
                </div>

                <div class="modal-footer col-md-12">

                </div>
            </div>
        </div>
    </div>










</div>
