
<div id="BillItemsPopup" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1400px">
        <div class="modal-content">
            <div class="modal-header">

                <div class="caption">
                    <i class="fa fa-map font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Bill Items - {{selectedBill.BillNo}}</span>


                </div>

            </div>
            <div class="modal-body">
                <form action="#" class="form-horizontal" name="BillAddForm">


                    <div class="row">



                        <table class="table" ng-table="BillItemTableParams" style="margin-bottom: 50px !important;">
                            <colgroup>
                                <col width="100" />
                                <col width="100" />
                                <col width="100" />
                                <col width="100" />
                                <col width="100" />
                                <col width="100" />
                            </colgroup>
                            <tbody>
                                <tr ng-repeat="_ in $data">

                                    <td data-title="PopupTableCol.Name" sortable="'Name'">
                                        <input ng-model="_.Name" type="text" class="form-control" required disabled>
                                    </td>
                                    <td data-title="PopupTableCol.Price" sortable="'Price'">
                                        <input ng-model="_.Price" type="number" class="form-control" required disabled>
                                    </td>
                                    <td data-title="PopupTableCol.ProductType" sortable="'ProductType'">
                                        <select class="form-control" ng-model="_.ProductType" disabled required disabled>
                                            <option ng-repeat="x in ProductTypes" ng-value="{{x.Value}}">{{x.Text}}</option>
                                        </select>
                                    </td>
                                    <td data-title="PopupTableCol.Model" sortable="'Model'">
                                        <input ng-model="_.Model.Name" type="text" class="form-control" disabled required>
                                        @*<select class="form-control" ng-model="_.ModelNo" required>
                                                <option ng-repeat="x in Models" ng-value="{{x.Id}}">{{x.Name}}</option>
                                            </select>*@
                                    </td>
                                    <td data-title="PopupTableCol.Category" sortable="'Category'">
                                        <select class="form-control" ng-model="_.CategoryRefId" required disabled>
                                            <option ng-repeat="x in Categories" ng-value="{{x.Id}}">{{x.Name}}</option>
                                        </select>
                                    </td>

                                    <td>
                                        <div class="btn-group absoluteitem">
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="md-click-circle md-click-animate" style="height: 105px; width: 105px; top: -47.45px; left: 37.5px;"></span>Islemler
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="ms-hover">
                                                    <a class="addphone" title="Delete" data-toggle="modal" ng-click="DeleteBillItemConfirm(_)">
                                                        <i class="fa fa-phone "></i>Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="6" class="no-margin no-padding">
                                        <span class="label label-primary" style="margin-left: -20px; font-size: 11px;"> Toplam Kayit Sayisi: {{BillItemTableCount}}</span>
                                    </td>
                                </tr>

                            </tfoot>

                        </table>





                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button class="btn dark btn-outline" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

