<!--Add Popup-->
<div id="AddSituation" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px;z-index:10052!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title danger">Add Accessory</h4>
            </div>
            <div style="height:420px" data-always-visible="0" data-rail-visible1="1">
                <div class="modal-body">
                    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="AccessoryForm">
                        <div class="col-md-9">
                            <span>Name</span>
                            <input ng-model="Pop.Name" style="font-size: 14px;" type="text" class="form-control" required>
                        </div>

                        <div class="col-md-9">
                            <span>Piece</span>
                            <input ng-model="Pop.Piece" style="font-size: 14px;" type="number" class="form-control" required>
                        </div>

                        <div class="col-md-9">
                            <span>Price</span>
                            <input ng-model="Pop.Price" style="font-size: 14px;" min="0" type="number" class="form-control" required>
                        </div>

                        <div class="col-md-9">
                            <span>Bill No</span>
                            <input ng-model="Pop.BillNo" style="font-size: 14px;" type="number" class="form-control" required>
                        </div>

                        <div class="col-md-9">
                            <span>Model No</span>
                            <select class="form-control" ng-model="Pop.ModelNo" required>
                                <option ng-repeat="x in AccessoryModels" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>

                        <div class="col-md-9">
                            <span>Category No</span>
                            <select class="form-control" ng-model="Pop.CategoryNo" required>
                                <option ng-repeat="x in  Categories" type="number" ng-value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top:70%;">
                    <input type="hidden" />
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red" ng-disabled="AccessoryForm.$invalid" ng-click="AddAccessory()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>